<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ pageDescription }}">
    <title>{{ pageTitle }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://go.dev/favicon.ico" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <section class="container">
        <br/>
        <strong>Usage</strong>
        <pre class="code prettyprint lang-shell prettyprinted"><code class="code-content">$ go get -u {{ host }}/&lt;MODULE&gt;</code></pre>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Module</th>
                    <th>Source Repository</th>
                </tr>
            </thead>
            <tbody>
                {{#each repositories}}
                <tr>
                    <td>
                        <a href="https://pkg.go.dev/{{ host }}/{{ path }}" target="_blank">{{ name }}</a>
                        {{#if deprecated}}
                        <small><i>(Deprecated)</i></small>
                        <i class="deprecated fa-solid fa-triangle-exclamation" style="color: #f44336" data-tooltip="{{ deprecated }}"></i>
                        {{/if}}
                    </td>
                    <td>{{ path }}</td>
                    <td><a href="{{ repositoryURL }}" target="_blank">{{ repositoryName }}</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('.deprecated', {
            content(reference) {
                return reference.getAttribute('data-tooltip');
            }
        });
    </script>
</body>
</html>
